@import url("./font.css");

body.main{
	text-align: center;
}

h1.menu{
	font-family: "AmeL", Sans-serif;
	font-size: 80px;
	margin-top: 150px;
}

.search{
    font-family: "SineL", Sans-serif;
    font-size: 20px;
    color:#bebebe;
    width:700px;
    height: 21px;
    padding:6px 0px 6px 15px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    box-shadow:0 1px 3px rgba(0,0,0,0.15) inset;
}

.search_submit{
	background: url(./img/search.png) no-repeat 10px 3px;
    background-size: 30px 30px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    width: 50px;
    height: 35px;
    box-shadow:0 1px 3px rgba(0,0,0,0.15);
}

button{
	font-family: "PGL", Sans-serif;
	font-size:25px;
	background-color:#bfbfbf;
	padding: 6px;
	color:#ffffff;
	width: 180px;
	height: 50px;
    border-radius:10px;
    border: none;
}

p.login{
    font-family: "AmeL";
    font-size: 20px;
    text-align: right;
    vertical-align: middle;
}

button.login{
    font-size: 20px;
    width:70px;
    height: 30px;
}